/* --------------------------------------------------------
Style Sheet for Schematic Viewer
version: 1.0
author: Satpal Jassal
----------------------------------------------------------*/

/* Slider panel styles */

.k-tabstrip .k-content {
	margin:0px;
	border:none;
	background-color:transparent;
	padding-top:5px;
}

.ui-panel-content-text {
	height:90%;
	overflow:hidden;
}

.ui-panel-content-text {
	border-top:none;
}

.ui-widget-content {
	margin-top:-5px;
}
/* End of slider panel styles */